  
<div class="container" id="home-container">
  <div class="jumbotron p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Alpha Blog SIX!</h1>
      <p class="fs-4 mx-auto" style="max-width: 700px;">This is a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <button class="btn btn-success btn-lg" type="button">Check it out!</button>
    </div>
  </div>
</div>