@import "bootstrap/dist/css/bootstrap";

html,
body {
  height: 100%;
}

.navbar {
  // Arsenic color #11181C
  background-color: #11181c !important;
}

.nav-link {
  color: wheat !important;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: wheat;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url("jumbo-pic.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
  color: #fff;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}

// .navbar-brand {
//   font-size: 3rem;
// }

// h1 {
//   color: red;
// }
