@import "bootstrap/dist/css/bootstrap";

.navbar {
  // Arsenic color #11181C
  background-color: #11181c !important;
}

.nav-link {
  color: wheat !important;
}
#logo {
  float: left;
  font-size: 1.7em;
  color: wheat;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url("jumbo.jpg");
  background-size: cover;
  height: 470px;
  color: wheat;
}
// .navbar-brand {
//   font-size: 3rem;
// }

// h1 {
//   color: red;
// }
