  <h1 class="text-center mt-4">New Category</h1>
<%= render 'form'%>
<div class="text-center mb-3">
  <%= link_to 'Return to Category listing', categories_path, class: "btn btn-dark btn-lg" %>
</div>
